#season {

  .calendar {
    width: 400px;
  }

  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }
  .title{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    height: 40px;
  }
  .title::first-letter {
    text-transform: capitalize;
  }

  .nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .days li:hover{
    cursor: pointer;
  }

  .days li p:hover{
    font-weight: bold;
    transform: scale(1.25);
    z-index: 10;
  }



  ul{
    box-sizing: border-box;
    padding-left: 0;
  }

  .labels li,
  .days li{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
    margin-right: -4px; // reset inline-block
  }

  .days li{
    border: 1px solid #eee;
    position: relative; // this give relative point to .split
  }

  li.disable{
    opacity: 0.5;
  }
  li.nextMonth,
  li.prevMonth{
    opacity: 0.33;
  }

  .days li.disabled {
    opacity: 0.33;
  }

  .days li p {
    position: relative;
    margin: 0;
    padding: 10px;
  }

  p.event{
    background: #0080FF;
    color: #fff;
  }

  p.event:hover{
    cursor: pointer;
    background: #eee;
  }

  li.previous-month {
    border: 1px solid transparent;
  }

  .month {
    clear: left;
  }


  .days li:hover {

  }

  .days li.split::after,
  .days li:hover::after {
    display: block;
    position: absolute;
    top: 0px;
    left: 46px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #18A689 transparent transparent transparent;
    line-height: 0px;
    _border-color: #18A689 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    z-index: 10;
  }

  .days li:hover::after {
    border-color: #198da6 transparent transparent transparent;
    line-height: 0px;
    _border-color: #198da6 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    z-index: 100;
  }

}

